
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# sax13 has some binary files we don't want to track:
+cbd/+private/+sax13/exe/